@import 'base';

body {
    font-family: 'Epilogue', Arial, Helvetica, sans-serif !important;
    color: white !important;
    background-color: $bg-color !important;
    
}

.btn-primary {
    // color: $bg-color !important;
    background-color: $bg-color !important;
    border-color: $bg-color !important;
}

/* .testx {
    background-color: blue;
    
}

.moviecard {
    margin: 0 auto;
}

body {
    font-family: 'epilogueregular', Arial, Helvetica, sans-serif !important;
} */


/* .movie-card {

}

.movie-card-img {
    
} */