// Colors used: Deep blue (#001233), light coral red (#FF595A), beige (#CAC0B3)
$bg-color: #001233;
$primary-color: #FF595A;
$secondary-color: #CAC0B3;


@font-face {
    font-family: 'Epilogue';
    src: url('./assets/epilogue-variablefont_wght-webfont.woff2') format('woff2'),
         url('assets/epilogue-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




